body {
    background-image: url(./bk-grain.jpg);
}

.title {
    width: 100%;
    background-color: green;
    font-size: 55px;
    height: 54px;
    text-align: center;
    padding: 73px;
    color: yellow;
}

.instructions {
    width: 22%;
    background-color: lightyellow;
    height: 40%;
    font-size: 26px;
    padding: 20px;
    color: blue;
    margin: 30px;
    float: left;
}

.box {
    width:  15%;
    height: 150px;
    background-color: chartreuse;
    color:  white;
    margin-top: 30px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#total {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

#diamond, #tanzanite, #opal, #saphire {
    margin: 10px;
}


#random {
    padding: 20px;
    font-size: 100px;
}

#wins, #losses {
    padding: 20px;
    font-size: 33px;
}

.crystals {
    width: 60%;
    float: right;
    margin-top: 30px;
    margin-right: 8%;
  
    
}

#score {
    font-size: 100px;
    text-align: center;
    color: white;
}

